In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.stats import mode
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('apples_and_oranges.csv')

In [3]:
data

    Weight  Size   Class
0       69  4.39  orange
1       69  4.21  orange
2       65  4.09  orange
3       72  5.85   apple
4       67  4.70  orange
5       73  5.68   apple
6       70  5.56   apple
7       75  5.11   apple
8       74  5.36   apple
9       65  4.27  orange
10      73  5.79   apple
11      70  5.47   apple
12      74  5.53   apple
13      68  4.47  orange
14      74  5.22   apple
15      65  4.48  orange
16      69  4.66  orange
17      75  5.25   apple
18      67  4.18  orange
19      74  5.50   apple
20      66  4.13  orange
21      70  4.83  orange
22      69  4.61  orange
23      68  4.08  orange
24      67  4.25  orange
25      71  5.35   apple
26      67  4.01  orange
27      70  4.22  orange
28      74  5.25   apple
29      71  5.26   apple
30      73  5.78   apple
31      66  4.68  orange
32      72  5.72   apple
33      73  5.17   apple
34      68  4.83  orange
35      69  4.11  orange
36      69  4.76  orange
37      74  5.48   apple
38      70  5.59   apple
39      73  5.03   apple

## Membuat algoritma KNN manual

In [4]:
# fungsi euclidean distance
def euclidean(x, x_train):
  return np.sqrt(np.sum(np.square(x-x_train)))

#fungsi KNN

def KNN(X_test, X_train, Y_train, K):

  #jumlah datanya
  m_test, n = X_test.shape
  m, n = X_train.shape

  # inisialisasi Y_Predict
  Y_Predict = np.zeros(m_test)

  for i in range(m_test):
    x = X_test[i]

    neighbors = np.zeros(K)
    euclidean_distance = np.zeros(m)

    for j in range(m):
      d = euclidean(x, X_train[j])
      euclidean_distance[j] = d

    inds = euclidean_distance.argsort()
    Y_train_sorted = Y_train[inds]
    neighbors = Y_train_sorted[:K]

    Y_Predict[i] = mode(neighbors)[0][0]

  return Y_Predict

In [5]:
data.head()

   Weight  Size   Class
0      69  4.39  orange
1      69  4.21  orange
2      65  4.09  orange
3      72  5.85   apple
4      67  4.70  orange

In [6]:
X = data.iloc[:,:-1].values
Y = data.iloc[:, -1:].values

In [7]:
#splitting
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=1/3, random_state=0)
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)

C:\Users\wwica\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
#membuat model pakai sklearn

model1 = KNeighborsClassifier(n_neighbors=25)
model1.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=25)

In [9]:
#prediksi memakai sklearn dan KNN manual

#knn manual
y_pred = KNN(X_test, X_train, y_train, 3)
y_pred_sk = model1.predict(X_test)

In [10]:
jumlah_benar_manual = 0
jumlah_benar_sklearn = 0

In [11]:
count = 0
for count in range(np.size(y_pred)):
  if y_test[count] == y_pred[count]:
    jumlah_benar_manual += 1
  if y_test[count] == y_pred_sk[count]:
    jumlah_benar_sklearn += 1
  count = count+1

In [12]:
print( "Accuracy on test set by our model : ", (jumlah_benar_manual/count)*100)
print( "Accuracy on test set by sklearn model : ", (jumlah_benar_sklearn/count)*100)

Accuracy on test set by our model :  100.0
Accuracy on test set by sklearn model :  42.857142857142854

Cari akurasi ketika K= 25, K= 15, dan K =4

In [13]:
# K=25
K = 25
model1 = KNeighborsClassifier(n_neighbors=K)
model1.fit(X_train, y_train)
y_pred_sk = model1.predict(X_test)
score = accuracy_score(y_pred_sk, y_test)
print(f"Accuracy with K= {K} {score}")

# K=15
K = 15
model1 = KNeighborsClassifier(n_neighbors=K)
model1.fit(X_train, y_train)
y_pred_sk = model1.predict(X_test)
score = accuracy_score(y_pred_sk, y_test)
print(f"Accuracy with K= {K} {score}")

# K=3
K = 3
model1 = KNeighborsClassifier(n_neighbors=K)
model1.fit(X_train, y_train)
y_pred_sk = model1.predict(X_test)
score = accuracy_score(y_pred_sk, y_test)
print(f"Accuracy with K= {K} {score}")

Accuracy with K= 25 0.42857142857142855
Accuracy with K= 15 0.9285714285714286
Accuracy with K= 3 1.0